body {
    background-color: var(--snow);
    /* color: var(--ecru); */

    display: grid;
    place-items: center;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    grid-template-rows: repeat(12, 1fr);
    row-gap: 24px;


    margin: 0;
    padding: 24px;
    box-sizing: border-box;
    color: var(--jet);
    overflow-x: hidden;
}

main {
    grid-column: 2 / 12;
    grid-row: 1 / 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    grid-template-rows: repeat(12, 1fr);
    row-gap: 24px;
    height: 100%;
    width: 100%;
}

h1 {
    color: black;
    grid-area: 1 / 1 / 2 / 13;
}