@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
    font-family: "Pretendard", sans-serif;
    /* CSS HEX */
    --snow: #FFFAFA;
    --orange-peel: #faa541ff;
    --ecru: #aea860ff;
    --mint: #61aa7fff;
    --keppel: #15ad9eff;
    --tigers-eye: #ad6c29ff;
    --citron: #d6cc7cff;

    --jet: #333333ff;
    --davys-gray: #5c5c5c;
    --fawn: #f7b97aff;
    --amethyst: #9966ccff;
    --lavender-floral: #af87d7ff;
    --thistle: #d7c1e9ff;
    --snow: #fffafaff;
    
    /* https://coolors.co/9966cc-af87d7-fffafa */
}

::selection {
    background-color: var(--lavender-floral);
    color: var(--snow);
}

html, body {
    scroll-behavior: smooth;
}

body {
    background-color: var(--snow);
    /* color: var(--ecru); */

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--jet);
    overflow-x: hidden;
}

.logo {
    width: auto;
    height: 36px;
}


h1 {
    font-size: 4rem;
    /* font-family:'SF Mono Regular'; */
}

/* 
h1>span {
    color: #AF87D7;
} */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 107px;
    display: flex;
    align-items: center;
    z-index: 5;
    /* background-image: linear-gradient(to bottom, #D7C1E9, var(--snow)); */

}

.h-bg {
    background-image: linear-gradient(to bottom, #D7C1E9, var(--snow));
    height: 107px;
    width: 100%;
}

nav {
    background-color: var(--snow);
    padding: 12px 24px;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px rgba(128, 128, 128, 0.2);
    border-radius: calc(85px / 2);
    height: 50px;
    width: 100%;
    backdrop-filter: blur(36px);
    transition: all 0.5s ease-in-out;
}

/* change on scroll */

nav.scrolled {
    background-color: rgba(255, 250, 250, 0.7);
}

picture {
    display: flex;
    align-items: center;
    gap: 12px;
}

#name {
    /* visibility: visible; */
    transition: all 0.3s ease-in-out;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

nav>ul>li {
    list-style: none;
    margin: 0 1rem;
}

nav>ul>li>a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

nav>ul>li>a:hover {
    color: var(--lavender-floral);
}

main {
    /* top: 100px; */
    /* height: 120vh;
     */
    position: relative;
    padding: 0 32px;
    top: -55px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    min-height: 750px;
    width: 100%;
    gap: 2rem;
}



.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    /* align-items: center; */
    height: 100%;
    width: 100%;
    padding: 0 0 0 24px;
    z-index: 3;
}

.content span.text{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'SF Mono Regular';
    color: var(--amethyst);
    margin: 0;
    padding: 0;
}

.content h1 {
    font-size: 5rem;
    margin: 0;
    padding: 0;
}

.content .desc {
    max-width: 500px;
}

.content p {
    line-height: 24px;
    color: var(--davys-gray);
    margin: 0;
    padding: 0;
}


.desc a i {
    color: var(--lavender-floral);
    text-decoration: none;
    font-weight: 600;
    font-size: 4rem;
    position: relative;
    top: 32px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation: .5s infinite alternate upanddown; */
    animation: myAnim 7s ease 15s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	30% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	5% {
		transform: translateX(-30px) rotate(6deg);
	}

	10% {
		transform: translateX(15px) rotate(-6deg);
	}

	15% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	20% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	25% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}



.img {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.code-box {
    height: 300px;
    width: 450px;
    background-color: #f8f8f2;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
    border: solid .5px rgba(128, 128, 128, 0.2);
    box-shadow: 5px 5px 15px rgba(106, 106, 106, 0.1);
    z-index: 3;
}

.code-box code *, code {
    font-size: 1rem;
    font-family: 'SF Mono Regular';
}

code {
    color: var(--mint);
}

.const {
    color: #e06c75;
}

.code {
    color: #d9b36d;
}

.new {
    color: #61afef;
    font-weight: 800;
}

.object {
    color: #98c379;
    font-style: italic;
}

.string {
    color: var(--amethyst);
}

.dot{
    color: #6272a4;
}

.tab {
    color: #6272a4;
    width: 24px;
}

.main-link {
    transition: all 0.3s ease;
}

.main-link:hover {
    color: var(--lavender-floral);
}

/* GRADIENTE DE FUNDO */

span {
    display: inline-block;
    /* pointer-event: none; */
    transition: transform 0.1s linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.gradient {
    --size: 250px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background: rgb(247,185,122);
    background: linear-gradient(90deg, var(--fawn) 0%, var(--amethyst)100%);    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    z-index: 1;

    position: absolute;
}

@media (min-width: 720px) {
    .gradient {
        --size: 500px;
    }
}



/* This is just to transition when you change the viewport size. */
* {
    transition: all 0.25s ease-out;
}